$color__background-body: #F1F7F9;
$color__background-screen: #F1F7F9;
$color__background-hr: #ccc;
// $color__background-button: #4DBB7B;
// $color__background-button: #50E3C2;
$color__background-button: #18A085;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
// $color__link: royalblue;
$color__link: #18A085;
$color__link-visited: purple;
// $color__link-hover: midnightblue;
$color__link-hover: #5C5B5B;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__background-button-hover: #5C5B5B;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

// princebazawule (custom) colours
// $color__evenlightergreen: rgba(77,187,123,0.05);
$color__evenlightergreen: rgba(64,64,64,0.04);
$color__lightergreen: rgba(77,187,123,0.1);
$color__lightgreen: rgba(77,187,123,0.3);
$color__greenlight: #50E3C2;
$color__green: #4DBB7B;
$color__greendark: #18A085;
$color__greendarkalpha: rgba(24,160,133,0.3);
$color__yellow: #F0B925;
$color__greydark: #5C5B5B;
$color__bluelight: #4A90E2;
$color__blue: #3C77A6;
$color__bluedark: #2C658C;
$color__black: #000000;
$color__white: #FFFFFF;
$color__semiblack: rgba(0, 0, 0, .45);

